
body {
	width:180px;
	text-align: center;
	font-family: Arial, sans-serif;
}

h1 {
	margin-top:4px;
	font-size:22px;
	font-weight: bold;
	letter-spacing: 1.5px;
}

h1 span {
	position: relative;
	top:1px;
	font-size:38px;
}

button {

	display:block;
	width:90%;
	margin:5px auto !important;
}

.disabled {
	margin-top:-16px;
	color:red;
	height:13px;
	font-size:12px;
}

label {
    display:block;
    width:85%;
    text-align:left;
    margin:6px auto;
    font-size:12px !important;
}

/* Firefox only */
@supports (-moz-appearance:none) {
    label input {
        position: relative;
        top:1px;
    }
}

button {
	border: solid 1px #aaa !important;
	color: #333;
	height: 20px;
	border-radius: 3px;
}

label span {
	position: relative;
	top: 1px;
}

@media (prefers-color-scheme: dark) {

	html {
		background: rgb(52,53,56);
		color: #ddd;
	}

	h1 {
		color: white;
	}

	label {
		color: #eee;
	}
	th {
		color: white;
		font-weight: normal;
	}

	.disabled span {
		color: rgb(252,87,84);
	}

	button {
		background-color: rgb(32,33,36) !important;
		border: solid 1px #777 !important;
		color: #ddd;
	  }
  }
