<!DOCTYPE html>
<html>
	<head>
		<title>REDIRECTOR</title>
		<link rel="stylesheet" href="css/popup.css" />
		<meta charset="UTF-8">
		<script src="js/angular.min.js"></script>
		<script src="js/popup.js"></script>
	</head>
	<body ng-app="popupApp" ng-controller="PopupCtrl">
		<h1>REDIRECTOR</h1>
		<div class="disabled"><span ng-show="disabled">Disabled</span></div>
		<button ng-click="toggleDisabled()">{{disabled ? 'Enable Redirector' : 'Disable Redirector'}}</button>
        <button ng-click="openRedirectorSettings()">Edit Redirects</button>
		<label><input type="checkbox" ng-model="logging" ng-click="toggleLogging()" /> Logging enabled</label>
		<br/>
		<label><input type="checkbox" ng-model="enableNotifications" ng-click="toggleNotifications()" /> Enable Notifications</label>
	</body>
</html>
