/* Redirector CSS */

/* entire page */
body { 
  font-family: Tahoma, Arial, sans-serif; 
  font-size: 90%; 
  background: linear-gradient(to bottom, #afcffe, #fff);
  background-attachment: fixed; 
}

/* main header */
h1 { 
  margin-top: 25px; 
  margin-bottom:0; 
  text-align: center; 
  font-size: 280%; 
  line-height: 90%; 
  font-style: italic; 
  color:#222; 
}

/* sub-header */
h5 { 
  margin: 0px; 
  padding-left: 14em; 
  text-align: center; 
}

/* action buttons below header */
#actions { 
  margin-top: 12px; 
  margin-bottom: 10px; 
  text-align: center; 
}

/* table (list) of redirect rules */
#redirect-list { 
  width: 80em; 
  box-shadow: 0px 0px 2px black;
  border: solid 1px gray; 
  margin: auto; 
  padding: 0px;
  list-style-type: none; 
  list-style-position: outside;
  -moz-user-select: -moz-none;
}

/* individual cells within table of rules */
#redirect-list > li { 
  margin: 0px; 
  border-top: dotted 1px gray; 
  padding: 8px 2px 12px 10px; 
  font-size: 80%; 
}

#redirect-list > li:first-child { 
  border-top: none; 
}

#redirect-list > li:nth-child(odd) { 
  background-color: #f0f0f0; 
}

#redirect-list > li:nth-child(even) { 
  background-color: white; 
}

/* rule within each cell */
.disabled { 
  font-weight: bold; color: red; 
}

.description { 
  font-weight: bold; 
}

.patternLabel { 
  display: inline-block; 
  width: 4em; 
  margin-left: 5px; 
  margin-right: 4px; 
  text-align: right; 
}

.pattern, .redirectTo { 
  color: blue; 
}

.editdeleteRow { 
  margin-top: 8px; 
}

/* turn Edit and Delete functions into buttons, remove underlines and text shadows, apply useful colors */
.edit, .delete { 
  -moz-appearance: button; 
  padding-left: 4px !important; 
  padding-right: 4px !important;
  text-decoration: none !important; 
}

.edit { 
  color: green !important; 
}

.delete { 
  margin-left: 6px; 
  color: rgb(180,80,25) !important; 
}

/* all dialog boxes */
.dialog {
  display: none; 
  position: fixed; 
  box-shadow: 0px 0px 4px black;
  background: linear-gradient(to bottom, #fff, #afcffe);
  border-radius: 8px;
  margin: 0px auto; 
  padding: 10px;
}

label, input { 
  display: table-cell; 
}

.button-row { 
  text-align: center; display: block !important; 
}

button { 
  cursor: pointer; 
}

/* New (and Edit) Redirect dialog box */
#redirect-form > div { 
  margin-top: 3px; display: table-row; 
}

#redirect-form > div > label { 
  text-align: right; padding: 6px; 
}

#redirect-form > div > input[type='text'] { 
  display: inline-block; 
  width: 46em; 
  margin-top: 7px; 
}

/* Configuration dialog box */
#config { 
  padding-right: 18px; 
}

h2 { 
  text-align: center; 
  margin-top: 0px; 
  margin-bottom: 9px; 
}

#config > .button-row { 
  margin-top: 18px; 
}

#config > label { 
  display: inline; 
}

#config > input { 
  margin-top: 10px; 
}
